body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

header {
    margin: 0;
    padding: 10px 40px;
    background: linear-gradient(to top, black, #2b2929, black);
    color: white;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

main {
    height: 100vh;
}

footer {
    font-size: 12px;
    color: white;
    background: linear-gradient(to top, black, #2b2929, black);
    padding: 10px 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}